In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("/home/ibrahimfadu/ALL_PROJECTS/Diploma_collage_prediction/data/comple_n1.csv")

In [3]:
df.head()

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,475
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,355
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,670
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0

In [4]:
df.shape

(108, 4)

In [5]:
df['COLLEGE'].value_counts()

COLLEGE
University of Visvesvaraya College of Engineering    36
R. V. College of Engineering                         36
Dayananda Sagar College of Engineering               36
Name: count, dtype: int64

In [6]:
df['BRANCH'].value_counts()

BRANCH
AI Artificial Intelligence    18
CE Civil                      18
CS Computers                  18
EC Electronics                18
EE Electrical                 18
ME Mechanical                 18
Name: count, dtype: int64

In [7]:
df['CATEGORIES'].value_counts()

CATEGORIES
2AG    18
GM     18
SCG    18
GMR    18
SCR    18
STG    18
Name: count, dtype: int64

In [8]:
df_copy=df.copy()

In [9]:
x=df_copy.drop('COLLEGE',axis=1)
y=df_copy["COLLEGE"]

In [10]:
x

                         BRANCH CATEGORIES  RANKING
0    AI Artificial Intelligence        2AG      475
1    AI Artificial Intelligence         GM      355
2    AI Artificial Intelligence        SCG      670
3    AI Artificial Intelligence        GMR        0
4    AI Artificial Intelligence        SCR        0
..                          ...        ...      ...
103               ME Mechanical         GM     1861
104               ME Mechanical        SCG     2868
105               ME Mechanical        GMR        0
106               ME Mechanical        SCR        0
107               ME Mechanical        STG     4337

[108 rows x 3 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
x_train.shape

(86, 3)

In [13]:
x_test.shape

(22, 3)

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
x_train['CATEGORIES']=encoder.fit_transform(x_train['CATEGORIES'])
x_train["BRANCH"]=encoder.fit_transform(x_train['BRANCH'])
x_test['CATEGORIES']=encoder.fit_transform(x_test['CATEGORIES'])
x_test["BRANCH"]=encoder.fit_transform(x_test['BRANCH'])

In [15]:
from sklearn.neighbors import KNeighborsClassifier
model_1=KNeighborsClassifier(n_neighbors=3)
model_1.fit(x_train,y_train)
y_predict=model_1.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy_score(y_test,y_predict)

0.5909090909090909

In [18]:
#69
#branch-computer science
#category
df.head()

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,475
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,355
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,670
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0

In [19]:
df.loc[:,"CATEGORIES"]

0      2AG
1       GM
2      SCG
3      GMR
4      SCR
      ...
103     GM
104    SCG
105    GMR
106    SCR
107    STG
Name: CATEGORIES, Length: 108, dtype: object

In [20]:
rank=3
Branch=""
Category=""
df.loc[(df['BRANCH']=="AI Artificial Intelligence") &( df["CATEGORIES"]=='2AG') & (df["RANKING"]>=rank),["COLLEGE"]]

                                              COLLEGE
0   University of Visvesvaraya College of Engineering
36                       R. V. College of Engineering
72             Dayananda Sagar College of Engineering

In [21]:
df_copy.head()

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,475
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,355
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,670
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0

In [22]:
df_copy["BRANCH"]=df_copy['BRANCH'].str.split(' ', n=1, expand=True)[0]

In [23]:
df_copy["COLLEGE"].value_counts()

COLLEGE
University of Visvesvaraya College of Engineering    36
R. V. College of Engineering                         36
Dayananda Sagar College of Engineering               36
Name: count, dtype: int64

In [24]:
df_copy.head()

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI,2AG,475
1,University of Visvesvaraya College of Engineering,AI,GM,355
2,University of Visvesvaraya College of Engineering,AI,SCG,670
3,University of Visvesvaraya College of Engineering,AI,GMR,0
4,University of Visvesvaraya College of Engineering,AI,SCR,0

In [26]:

df_copy.loc[(df_copy["BRANCH"]=="AI") & (df_copy["CATEGORIES"]=="GM") & df_copy["RANKING"]<Rank]

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI,2AG,475
1,University of Visvesvaraya College of Engineering,AI,GM,355
2,University of Visvesvaraya College of Engineering,AI,SCG,670
3,University of Visvesvaraya College of Engineering,AI,GMR,0
4,University of Visvesvaraya College of Engineering,AI,SCR,0
...,...,...,...,...
103,Dayananda Sagar College of Engineering,ME,GM,1861
104,Dayananda Sagar College of Engineering,ME,SCG,2868
105,Dayananda Sagar College of Engineering,ME,GMR,0
106,Dayananda Sagar College of Engineering,ME,SCR,0
107,Dayananda Sagar College of Engineering,ME,STG,4337

In [38]:
Ranking=int(input("Enter the Rank: "))
Branch=input("Enter the Branch: ").upper()
Categories=input("Enter the categories :").upper()
df_copy.loc[(df_copy["BRANCH"]==Branch)&(df_copy["CATEGORIES"]==Categories)&(df_copy["RANKING"]>Ranking)]

Enter the Rank:  1
Enter the Branch:  ce
Enter the categories : gm

,COLLEGE,BRANCH,CATEGORIES,RANKING
7,University of Visvesvaraya College of Engineering,CE,GM,370
43,R. V. College of Engineering,CE,GM,234
79,Dayananda Sagar College of Engineering,CE,GM,1531