In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("/home/ibrahimfadu/ALL_PROJECTS/Diploma_collage_prediction/data/comple_n1.csv")

In [3]:
df.head()

,COLLEGE,BRANCH,CATEGORIES,Cutoff_2019,Cutoff_2020,Cutoff_2021,Cutoff_2022,Cutoff_2023,Cutoff_2024
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,0,0,0,371,432.0,475
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,0,0,0,298,249.0,355
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,0,0,0,815,1733.0,670
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0,0,0,1201,0.0,0
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0,0,0,0,0.0,0

In [4]:
df.shape

(108, 4)

In [5]:
df['COLLEGE'].value_counts()

COLLEGE
University of Visvesvaraya College of Engineering    36
R. V. College of Engineering                         36
Dayananda Sagar College of Engineering               36
Name: count, dtype: int64

In [6]:
df['BRANCH'].value_counts()

BRANCH
AI Artificial Intelligence    18
CE Civil                      18
CS Computers                  18
EC Electronics                18
EE Electrical                 18
ME Mechanical                 18
Name: count, dtype: int64

In [7]:
df['CATEGORIES'].value_counts()

CATEGORIES
2AG    18
GM     18
SCG    18
GMR    18
SCR    18
STG    18
Name: count, dtype: int64

In [8]:
df_copy=df.copy()

In [9]:
x=df_copy.drop('COLLEGE',axis=1)
y=df_copy["COLLEGE"]

In [10]:
x

                         BRANCH CATEGORIES  RANKING
0    AI Artificial Intelligence        2AG      475
1    AI Artificial Intelligence         GM      355
2    AI Artificial Intelligence        SCG      670
3    AI Artificial Intelligence        GMR        0
4    AI Artificial Intelligence        SCR        0
..                          ...        ...      ...
103               ME Mechanical         GM     1861
104               ME Mechanical        SCG     2868
105               ME Mechanical        GMR        0
106               ME Mechanical        SCR        0
107               ME Mechanical        STG     4337

[108 rows x 3 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
x_train.shape

(86, 3)

In [13]:
x_test.shape

(22, 3)

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
x_train['CATEGORIES']=encoder.fit_transform(x_train['CATEGORIES'])
x_train["BRANCH"]=encoder.fit_transform(x_train['BRANCH'])
x_test['CATEGORIES']=encoder.fit_transform(x_test['CATEGORIES'])
x_test["BRANCH"]=encoder.fit_transform(x_test['BRANCH'])

In [15]:
from sklearn.neighbors import KNeighborsClassifier
model_1=KNeighborsClassifier(n_neighbors=3)
model_1.fit(x_train,y_train)
y_predict=model_1.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy_score(y_test,y_predict)

0.5909090909090909

In [18]:
#69
#branch-computer science
#category
df.head()

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,475
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,355
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,670
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0

In [19]:
df.loc[:,"CATEGORIES"]

0      2AG
1       GM
2      SCG
3      GMR
4      SCR
      ...
103     GM
104    SCG
105    GMR
106    SCR
107    STG
Name: CATEGORIES, Length: 108, dtype: object

In [20]:
rank=3
Branch=""
Category=""
df.loc[(df['BRANCH']=="AI Artificial Intelligence") &( df["CATEGORIES"]=='2AG') & (df["RANKING"]>=rank),["COLLEGE"]]

                                              COLLEGE
0   University of Visvesvaraya College of Engineering
36                       R. V. College of Engineering
72             Dayananda Sagar College of Engineering

In [21]:
df_copy.head()

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,475
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,355
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,670
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0

In [22]:
df_copy["BRANCH"]=df_copy['BRANCH'].str.split(' ', n=1, expand=True)[0]

In [23]:
df_copy["COLLEGE"].value_counts()

COLLEGE
University of Visvesvaraya College of Engineering    36
R. V. College of Engineering                         36
Dayananda Sagar College of Engineering               36
Name: count, dtype: int64

In [24]:
df_copy.head()

,COLLEGE,BRANCH,CATEGORIES,RANKING
0,University of Visvesvaraya College of Engineering,AI,2AG,475
1,University of Visvesvaraya College of Engineering,AI,GM,355
2,University of Visvesvaraya College of Engineering,AI,SCG,670
3,University of Visvesvaraya College of Engineering,AI,GMR,0
4,University of Visvesvaraya College of Engineering,AI,SCR,0

In [28]:
Ranking=int(input("Enter the Rank: "))
Branch=input("Enter the Branch: ").upper()
Categories=input("Enter the categories :").upper()
df_copy.loc[(df_copy["BRANCH"]==Branch)&(df_copy["CATEGORIES"]==Categories)&(df_copy["RANKING"]>Ranking),["COLLEGE"]]

Enter the Rank:  2000
Enter the Branch:  ai
Enter the categories : 2ag

Empty DataFrame
Columns: [COLLEGE]
Index: []

In [29]:
x=df_copy.loc[(df_copy["BRANCH"]=="AI")&(df_copy["CATEGORIES"]=="GM")&(df_copy["RANKING"]>23)&(df_copy["RANKING"]!=0),["COLLEGE","RANKING"]]
x.loc[x["RANKING"].idxmin(),["COLLEGE"]][0]

'R. V. College of Engineering'

In [32]:
Ranking=int(input("Enter the Rank: "))
Branch=input("Enter the Branch: ").upper()
Categories=input("Enter the categories :").upper()
out=df_copy.loc[(df_copy["CATEGORIES"]==Categories)&(df_copy["RANKING"]>Ranking&(df_copy["RANKING"]!=0)),["COLLEGE","BRANCH"]]

Enter the Rank:  2000
Enter the Branch:  ai
Enter the categories : 2ag

In [33]:
out

                                               COLLEGE BRANCH
0    University of Visvesvaraya College of Engineering     AI
6    University of Visvesvaraya College of Engineering     CE
12   University of Visvesvaraya College of Engineering     CS
18   University of Visvesvaraya College of Engineering     EC
24   University of Visvesvaraya College of Engineering     EE
30   University of Visvesvaraya College of Engineering     ME
36                        R. V. College of Engineering     AI
48                        R. V. College of Engineering     CS
54                        R. V. College of Engineering     EC
60                        R. V. College of Engineering     EE
66                        R. V. College of Engineering     ME
72              Dayananda Sagar College of Engineering     AI
78              Dayananda Sagar College of Engineering     CE
84              Dayananda Sagar College of Engineering     CS
90              Dayananda Sagar College of Engineering     EC
96              Dayananda Sagar College of Engineering     EE
102             Dayananda Sagar College of Engineering     ME

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit()

In [ ]:
students details
students interested field
students ranking
students fees

college ranking
college placements
college fees
college

In [5]:
df.head()

,COLLEGE,BRANCH,CATEGORIES,Cutoff_2019,Cutoff_2020,Cutoff_2021,Cutoff_2022,Cutoff_2023,Cutoff_2024
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,0,0,0,371,432.0,475
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,0,0,0,298,249.0,355
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,0,0,0,815,1733.0,670
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0,0,0,1201,0.0,0
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0,0,0,0,0.0,0

In [11]:
college="University of Visvesvaraya College of Engineering"
branch="AI Artificial Intelligence"
category="2AG"
add=df.loc[(df['COLLEGE']==college)&(df['BRANCH']==branch)&(df['CATEGORIES']==category),["Cutoff_2019","Cutoff_2020"	,"Cutoff_2021","Cutoff_2022","Cutoff_2023","Cutoff_2024"]]
add
predected=500
add-500

In [12]:
add

,Cutoff_2019,Cutoff_2020,Cutoff_2021,Cutoff_2022,Cutoff_2023,Cutoff_2024
0,0,0,0,371,432.0,475

In [14]:
predected=500
add-500

,Cutoff_2019,Cutoff_2020,Cutoff_2021,Cutoff_2022,Cutoff_2023,Cutoff_2024
0,-500,-500,-500,-129,-68.0,-25